.no-posts-timeline {
  font-size: 30px;
  font-weight: 300;
  margin-top: 200px;
  text-align: center;
}

.wrapper-timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.timeline-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px;
  font-size: 20px;
  cursor: pointer;
}
