*{
  box-sizing: border-box;
}

.bg{
  background-image: url('bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.main {
  margin: 0px 35%;
  padding-top: 120px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 5px;
}

.login-title {
  margin: 20px;
  font-size: 50px;
  font-weight: 400;
  color: white;
}

.wrapper input {
  width: 300px;
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  padding-left: 10px;
  outline: none;
}

.button {
  text-align: center;
  background-color: #7aa6bf;
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 300px;
  height: 50px;
  border-radius: 2px;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

.login-p {
  margin: 10px 0;
  font-size: 18px;
  color: white;
}

.wrapper a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #80ffc4;
  font-size: 18px;
}

.wrong-info {
  color: red;
  font-size: 18px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 2px;
}
